
.App {
  margin: 50px 5%;
}

#movieContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
}

#starSpan {
  margin-right: 14px;
}

#movieTitle {
  flex-grow: 1;
}
